/* Style Sheet for A1 */

h1 {
	font-variant: small-caps;
	text-align: center;
}

#pic img {
	display: block;
	width: 30%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

body {
	background: #c2ffe8;
	font-family: Helvetica;
	margin-left: 5%;
	margin-right: 5%;
}

h2 {
	font-weight: normal;
	font-variant: small-caps;
	text-align: center;
}

.ital {
	font-style: italic;
}
