/* Style Sheet for A1 */

body {
	background: #c2ffe8;
	font-family: Helvetica;
	margin-left: 5%;
	margin-right: 5%;
}

h1 {
	font-variant: small-caps;
	text-align: center;
}

h2 {
	font-weight: normal;
	font-variant: small-caps;
	text-align: center;
}

h3 {
	font-size: 20px;
	font-weight: normal;
}

#pic img {
	display: block;
	width: 30%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.ital {
	font-style: italic;
}

#roll {
	text-align: center;
	width: 100px;
	height: 50px;
	background: green;
}

#reset {
	text-align: center;
	width: 100px;
	height: 50px;
	background: green;
}

.disable {
	background: #eee;
}

.center {
	text-align: center;
}

.die {
	width: 100px;
	height: 100px;
	background: white;
	border-radius: 10px;
	text-align: center;
}

.dieClicked {
	background: orange;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0px auto;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

th {
	text-align: center;
}

tr:not(.total):not(:first-child):hover {
	background-color: #eee;
}

.total {
	background-color: #7e7e7e;
	color: white;
	font-weight: bold;
}

.myTurn {
	background-color: yellow;
}