body {
	background-image: url('orange.png');
	font-family: 'Museo', 'Avenir', sans-serif;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}

h1 {
	font-size: 275%;
}

.button {
	font-family: 'Museo', 'Avenir', sans-serif;
	vertical-align: middle;
	margin-bottom: 2%;
	margin-left: 1%;
	margin-right: 1%;
	background-color: #c7a4ff;
	font-size: 200%;
	width: 30%;
	height: 200px;
	border-radius: 10px 10px;
}

.button:hover:not(.noClick) {
	background-color: #a871ff;
	cursor: pointer;
}

.wide {
	width: 95%;
	height: 100px;
}

.weather {
	height: 245px;
}

#header {
	font-size: 100%;
}

#content {
	font-size: 50%;
}